<ion-header class="ion-no-border">
  <ion-toolbar mode='ios'>
    <!-- <ion-title class="popUpTitle">End Target</ion-title> -->
    <ion-buttons slot="end">
      <!-- <ion-icon (click)="closePopover()" name="close"></ion-icon> -->
      <div class="closeButton" (click)="closePopover()">✖</div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="        top: 3.667px;
left: -1.5px;
width: 100%;">

  <div class="popUpTitle">End Target</div>
  <!-- <ion-row style="text-align: right"><ion-col size="12"><img src="assets/images/home.svg" (click)="closeModal()" style="color: black;
    float: right;
    width: 20px;
    margin-left: 7px;"> -->
  <!-- <div class="closeButton" (click)="closePopover()">x</div> -->
  <!-- </ion-col>
    </ion-row> -->
  <!-- <h2 class="popUpTitle">End Target</h2> -->

  <div class="popUpContent">
    <p style="margin-top:20px;font-size:small;text-align:center">Hey {{name}}!, Looks like you wish to end the activity.
      <br>Please choose the reason for ending it soon.
    </p>

    <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event)" #radioGroup>

      <!-- <ion-item  style="--inner-border-width: 0px;padding-left:10px" no-lines>
   <ion-radio value="Unhealthy to walk" style="--color-checked:#00008C" class="radio radio-inline radio-gray"></ion-radio>
    <ion-label  class="wrapText">Unhealthy to walk</ion-label>
  </ion-item> -->

      <ion-item style="--inner-border-width: 0px;" no-lines>
        <ion-radio class="radio radio-inline radio-gray" value="Unhealthy to walk"></ion-radio>
        <ion-label class="wrapText">Health related restriction</ion-label>
      </ion-item>

      <ion-item style="--inner-border-width: 0px;" no-lines>

        <ion-radio value="Difficult to achieve" class="radio radio-inline radio-gray" style="--color-checked:#00008C;">
        </ion-radio>
        <ion-label class="wrapText">Difficult to achieve</ion-label>
      </ion-item>

      <ion-item style="--inner-border-width: 0px;" no-lines>
        <ion-radio value="Others" class="radio radio-inline radio-gray" style="--color-checked:#00008C"></ion-radio>
        <ion-label class="wrapText">Others</ion-label>
      </ion-item>
    </ion-radio-group>
    <div class="divbtn">
      <ion-button (click)="!endActivityLoading && modalSubmit()">
        {{endActivityLoading?'':'Submit'}}
        <ion-spinner *ngIf="endActivityLoading" name="dots" color="light"></ion-spinner>
      </ion-button>
    </div>
  </div>
</ion-content>