<ion-content>
  <!-- <div class="closeButton" (click)="closePopover()">x</div> -->
  <!-- </ion-col>
    </ion-row> -->
  <!-- <div class="closeButton" (click)="closePopover()">x</div> -->
  <h2 class="popUpTitle">Try Again</h2>

  <div class="popUpContent">
    <p style="margin-top:20px;margin-bottom:20px; color: black;">Looks like we could not fetch your details
    </p>

    <!-- <ion-row class="yellowCard">
      <ion-col size="2">
        <img src="assets/images/user.png">
      </ion-col>
      <ion-col size="10">
        <div style='font-size:small'> The app will end the current activity in</div>
        <div style="font-weight: bold">05:30 min</div>
      </ion-col>
    </ion-row> -->
    <div class="divbtn">
      <button class="popUpBtn" (click)="confirm()">
        Retry
      </button>
    </div>
  </div>
</ion-content>