ion-icon {
    color: #00008C;
    // margin-right: 10px;
    padding: 10px;
    font-size: 30px;
}

  .buttonContainer{
      text-align: center;
  }

  .downloadButton{
    display: inline-block;
    background: #00008C;
    border-radius: 7px;
    opacity: 1;
    color:white;
    margin:auto;
    //width:100px;
    padding: 10px 20px;
    font-size:medium;
  }

  .footertext{
    position: absolute;
    bottom: 5%;
    text-align: center;
    font-size: 16px;
        // margin-top: 12%;
        padding-left: 5%;
        padding-right: 5%;
        color: #535353;
        // border: 1px solid black;
  }