<ion-header class="ion-no-border" >
  <ion-toolbar mode='ios'>
    <!-- <ion-title class="popUpTitle">Alert</ion-title> -->
    <ion-buttons slot="end">
      <!-- <ion-icon (click)="confirm()" src="assets/images/close-outline.svg"></ion-icon> -->
      <div class="closeButton" (click)="confirm()">✖</div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  style="font-family: 'Roboto';">
  <div class="popUpTitle">Alert</div>
  <!-- <div class="closeButton" (click)="closePopover()">x</div> -->
  <!-- </ion-col>
    </ion-row> -->
  <!-- <div class="closeButton" (click)="closePopover()">x</div> -->
  <!-- <p class="popUpTitle">Alert</p> -->

  <div class="popUpContent">
    <p style="margin-top:20px;margin-bottom:20px; color: black; text-align: center;">Certificate will be available once you have walked for atleast 50 km</p>

    <!-- <ion-row class="yellowCard">
      <ion-col size="2">
        <img src="assets/images/user.png">
      </ion-col>
      <ion-col size="10">
        <div style='font-size:small'> The app will end the current activity in</div>
        <div style="font-weight: bold">05:30 min</div>
      </ion-col>
    </ion-row> -->
    <!-- <div class="divbtn">
      <button class="popUpBtn" (click)="confirm()">
        Ok
      </button>
    </div> -->
  </div>
</ion-content>