<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1" tabIcon="tab1" >
      <div class="iconContainer" *ngIf="selectedTab === 'tab1'">
        <img src="assets/images/homeSelected.png" class="iconHome" >
      </div>
      <img *ngIf="selectedTab != 'tab1'" src="assets/images/home2.png"  class="Icon">
    </ion-tab-button>

    <ion-tab-button tab="tab2" tabIcon="tab2">
      <div class="iconContainer" *ngIf="selectedTab === 'tab2'">
        <img src="assets/images/achievementSelected.png" class="iconActivity" >
      </div>
      <img *ngIf="selectedTab != 'tab2'" src="assets/images/achievement2.png"  class="Icon">
    </ion-tab-button>

    <ion-tab-button tab="tab5" tabIcon="tab5">
      <div class="iconContainer" *ngIf="selectedTab === 'tab5'">
        <img src="assets/images/groupSelected.png" class="iconGroup" >
      </div>
      <img *ngIf="selectedTab != 'tab5'" src="assets/images/group.png"  class="Icon">
    </ion-tab-button>

    <ion-tab-button tab="tab3" tabIcon="tab3">
      <div class="iconContainer" *ngIf="selectedTab === 'tab3'">
        <img src="assets/images/leaderboardSelected.png" class="iconLeaderboard" >
      </div>
      <img *ngIf="selectedTab != 'tab3'" src="assets/images/leaderboard2.png"  class="Icon">
    </ion-tab-button>

  <ion-tab-button tab="tab4" tabIcon="tab4">
    <div class="iconContainer" *ngIf="selectedTab === 'tab4'">
      <img src="assets/images/profileSelected.png" class="iconProfile" >
    </div>
    <img *ngIf="selectedTab != 'tab4'" src="assets/images/profile2.png"  class="Icon">
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
