.iconContainer {
    // height:40%;
    // color: white;
    // left: 25px;
    padding-top: 10%;
    width: 54px;
    height: 42px;
    // padding: 15%;
    background: #00008C 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
}

.Icon{
        height:40%;
    color: white;
    // left: 25px;
}

.iconHome {
    width: 29px;
    height: 26px;
}
.iconActivity{
    width: 29px;
    height: 27px;
}

.iconGroup{
    width: 36px;
    height: 27px;
}

.iconLeaderboard{
    width: 27px;
    height: 27px;
}
.iconProfile {
    width: 24px;
    height: 27px;
}

// .tab-selected {
//     ion-icon {
//         color: white;
//     }

//     border-top: 2px solid #00008C;
//     color: white !important;
// }