<!--
<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title style="color:#00008C;text-align:center;font-size: 20px">
      <b>Achievement</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card class="topCard" >
  <ion-img class="badge" src="assets/images/trophyBadge.png"></ion-img>
  <ion-card-header>
    <ion-card-title style="color:black">
      <p>Congratulations !!!</p>
    
    </ion-card-title>

  </ion-card-header>
  <ion-img class="fistImage" src="assets/images/trophy.png"></ion-img>
  <ion-card-content>
    <span class=".ion-text-center" style="text-align: center">
      You have esceeded your target by <span style="color:#6D63D9">200 </span>Kms and helped for the cause of planting <span style="color:#6D63D9">600 </span> Trees
    </span>
    <div class="goalContainer">
      <div class="textStyle">
        <b>Goal</b><br>
      <b>Total Kms</b> 
      </div>
      <div class="textPos" style="color:#6D63D9;font-size: 19px;">
        <b>6200 Kms</b><br>
        <b>6000 Kms</b>  
      </div>
    </div>
  </ion-card-content>
</ion-card>
<div class="buttonContainer">
  <ion-button color="favorite" (click)="setNewTarget()" class="button targetButton">Set New Target</ion-button>
</div>
-->