<ion-content  style="font-family: 'Roboto';">
<br>
    <h5  class="popUpTitle">Target Confirmed</h5>

  <div class="popUpContent">

<p style="text-align: center;font-size: 15px;margin-top:20px; color: black;">Goal set Successfully!</p>
<p style="text-align: center;font-size: 15px;margin-top:20px; color: black;">Please make sure your device is connected to the internet to keep your progress up to date</p>

<div class="divbtn">
  <button class="popUpBtn" (click)="navigateToActivity()">
      Continue 
</button >
</div>
</div>
</ion-content>